<h2>
    <%= link_to food.name, food %>
</h2>

<% if food.image.present? %>
    <p><%= image_tag food.image.url %></p>
<% end %>

<p><b>Category: </b><%= link_to food.category.name, 'categories/' + food.category.name %></p>
<p><b>Price: </b><%= food.price %></p>
<br/>