// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addToCart {
    color: green;
}

.removeFromCart {
    color: red;
}

.cartCount {
    color:blue;
    font-size: 24px;
}

.cartEmptyButton {
    color: gray;
}

.cartFilledButton {
    color: darkgreen;
}